@import './common.scss';

#section_work_experience{
    position: relative;
    width: 100vw;
    min-height: calc(100vh - 120px);
    .workexperience{
        max-width: 1200px;
        padding: 0 80px;
        text-align: center;
        h3{
            // display: flex;
            // gap:20px;
            .subtitle{
                display: inline-block;
                padding: 0 20px;
            }
            .subtitle:not(:last-child){
                border-right:solid 1px $secondary-color;
            }
        }
        .duty{
            padding: 0 80px;
            text-align: start;
        }
    }
}